* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 50%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.keypad {
  display: inline-block;
  max-width: 310px;
  min-width: 300px;
  padding: 10px;
}

input {
  display: inline-block;
  text-align: right;
  width: 95%;
  height: 45px;
  font-weight: bold;
  font-size: 25px;
}
